.pickerButton {
    display: none;
}

.dragAndDrop {
    display: block !important;
    padding-top: 205px !important;
    padding-bottom: 15px !important;
    border-radius: 0 !important;
    background-color: #efc849 !important;
    color: #2c3e50 !important;
    background-image: url(../img/pencil.png);
    background-position: center;
    background-repeat: no-repeat;
    border-color: #2c3e50 !important;
}

#filepicker_shade {
    z-index: 9999;
}