/* Montserrat */

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat-Regular'), url(../fonts/Montserrat-Regular.woff) format('woff');
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat-Bold'), url(../fonts/Montserrat-Bold.woff) format('woff');
}

/* Lato */

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(../fonts/Lato-Regular.woff) format('woff');
}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'), url(../fonts/Lato-Bold.woff) format('woff');
}
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    src: local('Lato Italic'), local('Lato-Italic'), url(../fonts/Lato-Italic.woff) format('woff');
}
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 700;
    src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(../fonts/Lato-BoldItalic.woff) format('woff');
}

/* Raleway */

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    src: local('Raleway Heavy'), local('Raleway-Heavy'), url(../fonts/Raleway-Heavy.woff) format('woff');
}

/* Bitter */

@font-face {
    font-family: 'Bitter';
    font-style: normal;
    font-weight: 700;
    src: local('Bitter-Bold'), url(../fonts/Bitter-Bold.woff) format('woff');
}

/* Covered By Your Grace */

@font-face {
    font-family: 'Covered By Your Grace';
    font-style: normal;
    font-weight: 400;
    src: local('Covered By Your Grace'), local('CoveredByYourGrace'), url(../fonts/CoveredByYourGrace.woff) format('woff');
}